root = true

[*.{kt,kts}]
ktlint_code_style = ktlint_official
indent_size = 4
ktlint_standard_import-ordering = enabled
ktlint_enum_entry_name_casing = upper_cases
insert_final_newline = true
standard:function-type-modifier-spacing = true\
